<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Contacto</title>
    <style>
        body{
            background-color: #8d7373;
            color: #fff;
            margin: 0;
            font-family: sans-serif;
        }
        form{
            margin: auto;
            width: 50%;
            padding: 20px;
            border: 1px solid #ddd;
        }
        label{
            display: block;
        }
        input{
            width: 100%;
            padding:  5px;
        }
        .checkbox{
            float: left;
        }
    </style>
</head>
<body>
    <h1>Agregar nuevo contacto</h1>
    <form action="/agenda/guardar" method="post">
        <div>
            <label>Nombre:</label>
            <input type="text" name="nombre" th:value="${contacto.nombre}" required>
        </div>
        <div>
            <label>Teléfono:</label>
            <input type="text" name="telefono" th:value="${contacto.telefono}" required>
        </div>
        <div>
            <label>Email:</label>
            <input type="email" name="email" th:value="${contacto.email}" required>
        </div>
        <div>
            <label>Favorito:</label>
            <input class="checkbox" type="checkbox" name="favorito" th:checked="${contacto.favorito}">
        </div>
        <button type="submit">Guardar</button>
    </form>

</body>
</html>